.container{

    color: white;
    width: 1920px;
    height: 1080px;
    margin:auto;
    background-color: #D9DDDC;
    outline: solid 1px black;
    text-align: center;


}

.label{

    font-size: 24px;
    margin-left:25px;
    text-align: right;
    

}

input{

    width:340px;
    height:40px;
    
}

input[type=submit]{

    margin-top: 20px;
    width:200px;
    height:45px;
}

.header{

    width:1920px;
    height:245px;
    outline: solid 1px black;
    background-color: #638a00;
}

.info{
    margin-top: 50px;
}

h4{
    font-size: 36px;
}